<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".TransaksiActivity" />
        <activity android:name=".BarangActivity"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity android:name=".TambahBarang"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity android:name=".UbahBarang"
            android:theme="@style/Theme.MyApplication.NoActionBar"/><!-- <meta-data -->
        <!-- android:name="com.google.android.actions" -->
        <!-- android:resource="@xml/btn_background" /> -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>